.maskGroup {
    width: 690px;
    height: 880px;
    zoom: .715;
    margin-left: 50px;
    >.ginger {
        position: absolute;
        margin-top: 200px;
        margin-left: 210px;
    }
    >.nootris {
        position: absolute;
        margin-left: 390px;
    }
    >.lemon {
        position: absolute;
        margin-top: 385px;
    }
}