.Navigation {
    height: 60px;
    background: rgba($color: black, $alpha: .3);
    bottom: 30px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    backdrop-filter: blur(15px);
    border-radius: 50px;
    box-shadow: 0 0 10px rgba($color: black, $alpha: .3);
    padding: 0 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    >ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;

        >li {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all .4s ease-in-out;
            color: white;
            font-size: 21px;
        }
        >li:hover {
            background: rgba($color: black, $alpha: .3);
            box-shadow: 0 0 5px rgba($color: black, $alpha: .3);
        }

        >.activeLink {
            background: #1f1f38;
            box-shadow: 0 0 5px #1f1f38;
        }
    }
}