header {
    color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    text-align: center;

    >.hello {
        font-size: 25px;
        animation-name: animHello;
        animation-duration: 4s;
    }

    >.myName {
        font-size: 60px;
        animation-name: animName;
        animation-duration: 4s;
    }

    >.myProfession {
        margin-top: 20px;
        font-weight: 400;
        animation-name: animName;
        animation-duration: 4s;
    }

    >.buttons {
        display: flex;
        flex-direction: row;
        gap: 10px;
        animation-name: animButtons;
        animation-duration: 4s;

        >a {
            >.cv {
                background: none;
                border: 1px solid #29a6ff;
                color: #29a6ff;
                animation-name: leftBtn;
                animation-duration: 2.5s;
                padding: 15px;
                border-radius: 5px;
                margin-top: 30px;
                cursor: pointer;
                transition: all .3s ease-in-out;
                font-weight: 600;
            }

            >.cv:hover {
                background: #29a6ff;
                color: #1f1f38;
            }
        }

        >button {
            padding: 15px;
            border-radius: 5px;
            margin-top: 30px;
            cursor: pointer;
            transition: all .3s ease-in-out;
            font-weight: 600;
        }

        >.talk {
            color: #1f1f38;
            background: #29a6ff;
            animation-name: rightBtn;
            animation-duration: 2.5s;
        }

        >.talk:hover {
            background: #0094fd;
        }
    }

    >.links {
        display: flex;
        flex-direction: row;
        gap: 20px;
        animation-name: animLinks;
        animation-duration: 4s;

        >a {
            color: #29a6ff;
            font-size: 25px;
            margin-top: 30px;
            cursor: pointer;
            transition: all .3s ease-in-out;
        }

        >a:hover {
            color: white;
        }
    }
}

@keyframes animHello {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    60% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes animName {
    0% {
        opacity: 0;
    }

    15% {
        opacity: 0;
        transform: translateY(-30px);
    }

    70% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes animButtons {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 0;
        transform: translateY(-25px);
    }

    80% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes animLinks {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
        transform: translateX(0px);
    }
}